# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Merge files
*.orig
*.rej

# Build artifacts
.clang_complete
.build/
*.elf
*.log
*.lss
*.lst
*.map
*.o
*.stackdump
*.sym

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# DD config at wrong location
/keyboards/**/keymaps/*/info.json

# Old-style QMK Makefiles
/keyboards/**/Makefile

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# Eclipse/PyCharm/Other IDE Settings
*.iml
.browse.VC.db*
.cproject
.idea
.idea/
.project
.settings/

# ?
.dep
.history/
build/
cmake-build-debug
CMakeLists.txt
*.pdf

# Let these ones be user specific, since we have so many different configurations
*.code-workspace
.stfolder
.tags
.vscode/c_cpp_properties.json
.vscode/ipch/
.vscode/last.sql
.vscode/launch.json
.vscode/tasks.json
.vscode/temp.sql
tags

# Ignore image/font files
*.bmp
*.wbmp
*.gif
*.jpg
*.jpeg
*.png
*.apng
*.mng
*.svg
*.webp
*.webm
*.avi
*.mp4
*.mpeg
*.ttf
*.otf

# Things Travis sees
/.vs
id_rsa_*
secrets.tar

# Python things
__pycache__
.python-version
.venv

# Prerequisites for updating ChibiOS
/util/fmpp*

# Allow to exist but don't include it in the repo
user_song_list.h

# clangd
compile_commands.json
.clangd/
.cache/

# VIA(L) files that don't belong in QMK repo
via*.json
/keyboards/**/keymaps/vial/*

# Keep firmware file
!keyboards/keychron/*/firmware/*.bin
lib/lufa
keyboards/keychron/k10_pro/via_json/k10_pro_ansi_rgb.json
keyboards/keychron/k10_pro/via_json/k10_pro_ansi_white.json
keyboards/keychron/k10_pro/via_json/k10_pro_iso_rgb.json
keyboards/keychron/k10_pro/via_json/k10_pro_jis_rgb.json
keyboards/keychron/k10_pro_se2/info.json
keyboards/keychron/k11_max/ansi_encoder/rgb/info.json
keyboards/keychron/k11_max/ansi_encoder/rgb/rgb.c
keyboards/keychron/k11_max/ansi_encoder/white/info.json
keyboards/keychron/k11_max/config.h
keyboards/keychron/k11_max/info.json
keyboards/keychron/k11_max/iso_encoder/rgb/info.json
keyboards/keychron/k11_max/iso_encoder/rgb/rgb.c
keyboards/keychron/k11_max/iso_encoder/white/info.json
keyboards/keychron/k11_max/jis_encoder/rgb/config.h
keyboards/keychron/k11_max/jis_encoder/rgb/info.json
keyboards/keychron/k11_max/jis_encoder/rgb/keymaps/default/keymap.c
keyboards/keychron/k11_max/jis_encoder/rgb/keymaps/via/keymap.c
keyboards/keychron/k11_max/jis_encoder/rgb/keymaps/via/rules.mk
keyboards/keychron/k11_max/jis_encoder/rgb/rgb.c
keyboards/keychron/k11_max/jis_encoder/rgb/rules.mk
keyboards/keychron/k11_max/jis_encoder/white/config.h
keyboards/keychron/k11_max/jis_encoder/white/info.json
keyboards/keychron/k11_max/jis_encoder/white/keymaps/default/keymap.c
keyboards/keychron/k11_max/jis_encoder/white/keymaps/via/keymap.c
keyboards/keychron/k11_max/jis_encoder/white/keymaps/via/rules.mk
keyboards/keychron/k11_max/jis_encoder/white/rules.mk
keyboards/keychron/k11_max/jis_encoder/white/white.c
keyboards/keychron/k11_max/via_json/k11_max_jis_rgb_encoder.json
keyboards/keychron/k11_max/via_json/k11_max_jis_white_encoder.json
keyboards/keychron/k17_max/ansi_encoder/rgb/config.h
keyboards/keychron/k17_max/ansi_encoder/rgb/info.json
keyboards/keychron/k17_max/ansi_encoder/rgb/keymaps/default/keymap.c
keyboards/keychron/k17_max/ansi_encoder/rgb/keymaps/via/keymap.c
keyboards/keychron/k17_max/ansi_encoder/rgb/keymaps/via/rules.mk
keyboards/keychron/k17_max/ansi_encoder/rgb/rgb.c
keyboards/keychron/k17_max/ansi_encoder/rgb/rules.mk
keyboards/keychron/k17_max/ansi_encoder/white/config.h
keyboards/keychron/k17_max/ansi_encoder/white/info.json
keyboards/keychron/k17_max/ansi_encoder/white/keymaps/default/keymap.c
keyboards/keychron/k17_max/ansi_encoder/white/keymaps/via/keymap.c
keyboards/keychron/k17_max/ansi_encoder/white/keymaps/via/rules.mk
keyboards/keychron/k17_max/ansi_encoder/white/rules.mk
keyboards/keychron/k17_max/ansi_encoder/white/white.c
keyboards/keychron/k17_max/board.h
keyboards/keychron/k17_max/config.h
keyboards/keychron/k17_max/halconf.h
keyboards/keychron/k17_max/info.json
keyboards/keychron/k17_max/iso_encoder/rgb/config.h
keyboards/keychron/k17_max/iso_encoder/rgb/info.json
keyboards/keychron/k17_max/iso_encoder/rgb/keymaps/default/keymap.c
keyboards/keychron/k17_max/iso_encoder/rgb/keymaps/via/keymap.c
keyboards/keychron/k17_max/iso_encoder/rgb/keymaps/via/rules.mk
keyboards/keychron/k17_max/iso_encoder/rgb/rgb.c
keyboards/keychron/k17_max/iso_encoder/rgb/rules.mk
keyboards/keychron/k17_max/iso_encoder/white/config.h
keyboards/keychron/k17_max/iso_encoder/white/info.json
keyboards/keychron/k17_max/iso_encoder/white/keymaps/default/keymap.c
keyboards/keychron/k17_max/iso_encoder/white/keymaps/via/keymap.c
keyboards/keychron/k17_max/iso_encoder/white/keymaps/via/rules.mk
keyboards/keychron/k17_max/iso_encoder/white/rules.mk
keyboards/keychron/k17_max/iso_encoder/white/white.c
keyboards/keychron/k17_max/jis_encoder/rgb/config.h
keyboards/keychron/k17_max/jis_encoder/rgb/info.json
keyboards/keychron/k17_max/jis_encoder/rgb/keymaps/default/keymap.c
keyboards/keychron/k17_max/jis_encoder/rgb/keymaps/via/keymap.c
keyboards/keychron/k17_max/jis_encoder/rgb/keymaps/via/rules.mk
keyboards/keychron/k17_max/jis_encoder/rgb/rgb.c
keyboards/keychron/k17_max/jis_encoder/rgb/rules.mk
keyboards/keychron/k17_max/jis_encoder/white/config.h
keyboards/keychron/k17_max/jis_encoder/white/info.json
keyboards/keychron/k17_max/jis_encoder/white/keymaps/default/keymap.c
keyboards/keychron/k17_max/jis_encoder/white/keymaps/via/keymap.c
keyboards/keychron/k17_max/jis_encoder/white/keymaps/via/rules.mk
keyboards/keychron/k17_max/jis_encoder/white/rules.mk
keyboards/keychron/k17_max/jis_encoder/white/white.c
keyboards/keychron/k17_max/k17_max.c
keyboards/keychron/k17_max/mcuconf.h
keyboards/keychron/k17_max/readme.md
keyboards/keychron/k17_max/rules.mk
keyboards/keychron/k17_max/via_json/k17_max_ansi_knob_rgb.json
keyboards/keychron/k17_max/via_json/k17_max_ansi_knob_white.json
keyboards/keychron/k17_max/via_json/k17_max_iso_knob_rgb.json
keyboards/keychron/k17_max/via_json/k17_max_iso_knob_white.json
keyboards/keychron/k17_max/via_json/k17_max_jis_knob_rgb.json
keyboards/keychron/k17_max/via_json/k17_max_jis_knob_white.json
keyboards/keychron/k2_max/ansi/info.json
keyboards/keychron/k2_max/ansi/rgb/config.h
keyboards/keychron/k2_max/ansi/rgb/info.json
keyboards/keychron/k2_max/ansi/rgb/keymaps/default/keymap.c
keyboards/keychron/k2_max/ansi/rgb/keymaps/via/keymap.c
keyboards/keychron/k2_max/ansi/rgb/keymaps/via/rules.mk
keyboards/keychron/k2_max/ansi/rgb/rgb.c
keyboards/keychron/k2_max/ansi/rgb/rules.mk
keyboards/keychron/k2_max/ansi/white/config.h
keyboards/keychron/k2_max/ansi/white/info.json
keyboards/keychron/k2_max/ansi/white/keymaps/default/keymap.c
keyboards/keychron/k2_max/ansi/white/keymaps/via/keymap.c
keyboards/keychron/k2_max/ansi/white/keymaps/via/rules.mk
keyboards/keychron/k2_max/ansi/white/rules.mk
keyboards/keychron/k2_max/ansi/white/white.c
keyboards/keychron/k2_max/board.h
keyboards/keychron/k2_max/config.h
keyboards/keychron/k2_max/halconf.h
keyboards/keychron/k2_max/info.json
keyboards/keychron/k2_max/iso/info.json
keyboards/keychron/k2_max/iso/rgb/config.h
keyboards/keychron/k2_max/iso/rgb/info.json
keyboards/keychron/k2_max/iso/rgb/keymaps/default/keymap.c
keyboards/keychron/k2_max/iso/rgb/keymaps/via/keymap.c
keyboards/keychron/k2_max/iso/rgb/keymaps/via/rules.mk
keyboards/keychron/k2_max/iso/rgb/rgb.c
keyboards/keychron/k2_max/iso/rgb/rules.mk
keyboards/keychron/k2_max/iso/white/config.h
keyboards/keychron/k2_max/iso/white/info.json
keyboards/keychron/k2_max/iso/white/keymaps/default/keymap.c
keyboards/keychron/k2_max/iso/white/keymaps/via/keymap.c
keyboards/keychron/k2_max/iso/white/keymaps/via/rules.mk
keyboards/keychron/k2_max/iso/white/rules.mk
keyboards/keychron/k2_max/iso/white/white.c
keyboards/keychron/k2_max/jis/info.json
keyboards/keychron/k2_max/jis/rgb/config.h
keyboards/keychron/k2_max/jis/rgb/info.json
keyboards/keychron/k2_max/jis/rgb/keymaps/default/keymap.c
keyboards/keychron/k2_max/jis/rgb/keymaps/via/keymap.c
keyboards/keychron/k2_max/jis/rgb/keymaps/via/rules.mk
keyboards/keychron/k2_max/jis/rgb/rgb.c
keyboards/keychron/k2_max/jis/rgb/rules.mk
keyboards/keychron/k2_max/jis/white/config.h
keyboards/keychron/k2_max/jis/white/info.json
keyboards/keychron/k2_max/jis/white/keymaps/default/keymap.c
keyboards/keychron/k2_max/jis/white/keymaps/via/keymap.c
keyboards/keychron/k2_max/jis/white/keymaps/via/rules.mk
keyboards/keychron/k2_max/jis/white/rules.mk
keyboards/keychron/k2_max/jis/white/white.c
keyboards/keychron/k2_max/k2_max.c
keyboards/keychron/k2_max/mcuconf.h
keyboards/keychron/k2_max/readme.md
keyboards/keychron/k2_max/rules.mk
keyboards/keychron/k2_max/via_json/k2_max_ansi_rgb.json
keyboards/keychron/k2_max/via_json/k2_max_ansi_white.json
keyboards/keychron/k2_max/via_json/k2_max_iso_rgb.json
keyboards/keychron/k2_max/via_json/k2_max_iso_white.json
keyboards/keychron/k2_max/via_json/k2_max_jis_rgb.json
keyboards/keychron/k2_max/via_json/k2_max_jis_white.json
keyboards/keychron/k2_pro/info.json
keyboards/keychron/k2_pro/iso/rgb/keymaps/default/keymap.c
keyboards/keychron/k2_pro/iso/rgb/keymaps/via/keymap.c
keyboards/keychron/k2_pro/iso/white/keymaps/default/keymap.c
keyboards/keychron/k2_pro/iso/white/keymaps/via/keymap.c
keyboards/keychron/k4_pro/via_json/k4_pro_ansi_rgb.json
keyboards/keychron/k4_pro/via_json/k4_pro_iso_rgb.json
keyboards/keychron/k4_pro/via_json/k4_pro_iso_white.json
keyboards/keychron/k6_pro/info.json
keyboards/keychron/k6_pro/iso/rgb/keymaps/default/keymap.c
keyboards/keychron/k6_pro/iso/rgb/keymaps/via/keymap.c
keyboards/keychron/k6_pro/iso/white/keymaps/default/keymap.c
keyboards/keychron/k6_pro/iso/white/keymaps/via/keymap.c
keyboards/keychron/k6_pro/via_json/k6_pro_iso_rgb.json
keyboards/keychron/k6_pro/via_json/k6_pro_iso_white.json
keyboards/keychron/q10_max/ansi_encoder/ansi_encoder.c
keyboards/keychron/q10_max/ansi_encoder/config.h
keyboards/keychron/q10_max/config.h
keyboards/keychron/q10_max/iso_encoder/config.h
keyboards/keychron/q10_max/iso_encoder/info.json
keyboards/keychron/q10_max/iso_encoder/iso_encoder.c
keyboards/keychron/q10_max/iso_encoder/keymaps/default/keymap.c
keyboards/keychron/q10_max/iso_encoder/keymaps/via/keymap.c
keyboards/keychron/q10_max/iso_encoder/keymaps/via/rules.mk
keyboards/keychron/q10_max/iso_encoder/rules.mk
keyboards/keychron/q10_max/readme.md
keyboards/keychron/q10_max/via_json/q10_max_iso_encoder.json
keyboards/keychron/q2_max/jis_encoder/config.h
keyboards/keychron/q2_max/jis_encoder/info.json
keyboards/keychron/q2_max/jis_encoder/jis_encoder.c
keyboards/keychron/q2_max/jis_encoder/keymaps/default/keymap.c
keyboards/keychron/q2_max/jis_encoder/keymaps/via/keymap.c
keyboards/keychron/q2_max/jis_encoder/keymaps/via/rules.mk
keyboards/keychron/q2_max/jis_encoder/rules.mk
keyboards/keychron/q5_max/ansi_encoder/config.h
keyboards/keychron/q5_max/ansi_encoder/keymaps/default/keymap.c
keyboards/keychron/q5_max/ansi_encoder/keymaps/via/keymap.c
keyboards/keychron/q5_max/config.h
keyboards/keychron/q5_max/iso_encoder/config.h
keyboards/keychron/q5_max/iso_encoder/info.json
keyboards/keychron/q5_max/iso_encoder/iso_encoder.c
keyboards/keychron/q5_max/iso_encoder/keymaps/default/keymap.c
keyboards/keychron/q5_max/iso_encoder/keymaps/via/keymap.c
keyboards/keychron/q5_max/iso_encoder/keymaps/via/rules.mk
keyboards/keychron/q5_max/iso_encoder/rules.mk
keyboards/keychron/q5_max/readme.md
keyboards/keychron/q5_max/via_json/q5_max_iso_encoder.json
keyboards/keychron/q6_max/ansi_encoder/config.h
keyboards/keychron/q6_max/config.h
keyboards/keychron/q6_max/iso_encoder/config.h
keyboards/keychron/q6_max/jis_encoder/config.h
keyboards/keychron/q6_max/jis_encoder/info.json
keyboards/keychron/q6_max/jis_encoder/jis_encoder.c
keyboards/keychron/q6_max/jis_encoder/keymaps/default/keymap.c
keyboards/keychron/q6_max/jis_encoder/keymaps/via/keymap.c
keyboards/keychron/q6_max/jis_encoder/keymaps/via/rules.mk
keyboards/keychron/q6_max/jis_encoder/rules.mk
keyboards/keychron/v1_max/ansi_encoder/ansi_encoder.c
keyboards/keychron/v1_max/ansi_encoder/config.h
keyboards/keychron/v1_max/config.h
keyboards/keychron/v1_max/iso_encoder/config.h
keyboards/keychron/v1_max/iso_encoder/info.json
keyboards/keychron/v1_max/iso_encoder/iso_encoder.c
keyboards/keychron/v1_max/iso_encoder/keymaps/via/keymap.c
keyboards/keychron/v1_max/jis_encoder/config.h
keyboards/keychron/v1_max/jis_encoder/info.json
keyboards/keychron/v1_max/jis_encoder/jis_encoder.c
keyboards/keychron/v1_max/jis_encoder/keymaps/default/keymap.c
keyboards/keychron/v1_max/jis_encoder/keymaps/via/keymap.c
keyboards/keychron/v1_max/jis_encoder/keymaps/via/rules.mk
keyboards/keychron/v1_max/jis_encoder/rules.mk
keyboards/keychron/v1_max/via_json/v1_max_jis_encoder.json
keyboards/keychron/v3_max/ansi_encoder/ansi_encoder.c
keyboards/keychron/v3_max/ansi_encoder/info.json
keyboards/keychron/v3_max/ansi_encoder/keymaps/default/keymap.c
keyboards/keychron/v3_max/ansi_encoder/keymaps/via/keymap.c
keyboards/keychron/v3_max/config.h
keyboards/keychron/v3_max/info.json
keyboards/keychron/v3_max/iso_encoder/info.json
keyboards/keychron/v3_max/iso_encoder/iso_encoder.c
keyboards/keychron/v3_max/iso_encoder/keymaps/via/keymap.c
keyboards/keychron/v3_max/jis_encoder/config.h
keyboards/keychron/v3_max/jis_encoder/info.json
keyboards/keychron/v3_max/jis_encoder/jis_encoder.c
keyboards/keychron/v3_max/jis_encoder/keymaps/default/keymap.c
keyboards/keychron/v3_max/jis_encoder/keymaps/via/keymap.c
keyboards/keychron/v3_max/jis_encoder/keymaps/via/rules.mk
keyboards/keychron/v3_max/jis_encoder/rules.mk
keyboards/keychron/v3_max/rules.mk
keyboards/keychron/v3_max/v3_max.c
keyboards/keychron/v3_max/via_json/v3_max_ansi_encoder.json
keyboards/keychron/v3_max/via_json/v3_max_iso_encoder.json
keyboards/keychron/v3_max/via_json/v3_max_jis_encoder.json
keyboards/lemokey/common/lemokey_common.h
keyboards/lemokey/l1/ansi/ansi.c
keyboards/lemokey/l1/ansi/config.h
keyboards/lemokey/l1/config.h
keyboards/lemokey/l1/iso/config.h
keyboards/lemokey/l1/iso/info.json
keyboards/lemokey/l1/iso/iso.c
keyboards/lemokey/l1/iso/keymaps/default/keymap.c
keyboards/lemokey/l1/iso/keymaps/via/keymap.c
keyboards/lemokey/l1/iso/keymaps/via/rules.mk
keyboards/lemokey/l1/iso/rules.mk
keyboards/lemokey/l1/readme.md
keyboards/lemokey/l1/via_json/l1_iso.json
keyboards/lemokey/l3/ansi/ansi.c
keyboards/lemokey/l3/ansi/config.h
keyboards/lemokey/l3/ansi/keymaps/default/keymap.c
keyboards/lemokey/l3/ansi/keymaps/via/keymap.c
keyboards/lemokey/l3/config.h
keyboards/lemokey/l3/info.json
keyboards/lemokey/l3/iso/config.h
keyboards/lemokey/l3/iso/info.json
keyboards/lemokey/l3/iso/iso.c
keyboards/lemokey/l3/iso/keymaps/default/keymap.c
keyboards/lemokey/l3/iso/keymaps/via/keymap.c
keyboards/lemokey/l3/l3.c
keyboards/lemokey/l3/via_json/l3_ansi.json
keyboards/lemokey/l3/via_json/l3_iso.json
